@font-face {
    font-family: Fedra-Book;
    src: url("/static/fonts/FedraSerifH+L-Book.otf");
}

@font-face {
    font-family: Fedra-Medium;
    src: url("/static/fonts/FedraSerifH+L-Medium.otf");
}

@font-face {
    font-family: Fedra-Book-Italic;
    src: url("/static/fonts/FedraSerifH+L-BookItalic.otf");
}

.graduate-header {
    width: 100%;
}

.profile-picture {
    height: 20vh;
    border-radius: 50%;
}

.links {
    width: 100%;
}

.top-spacer {
    height: 5vh;
}

.name {
    margin: 20px auto 10px auto;
    font-family: Fedra-Medium, sans-serif;
    font-size: 50pt;
}

.title {
    margin: 0 auto 40px auto;
    font-family: Fedra-Book, sans-serif;
    font-size: 30pt;
}

.bezalel-catalog-container {
    font-size: 30pt;
    font-family: Fedra-Book, sans-serif;
    border-style: solid;
    border-width: 0 thin 0 0;
}

.bezalel-catalog-container a {
    margin: 50px 50px 50px auto;
    text-decoration: none;
    color: inherit;
}

.icons-container {
    /*width: 65%;*/
}

.carousel-container {
    height: 40vh;
    flex: 1 0 auto;
}

.carousel-container .swiper-slide {
    background-color: rgb(250 ,250, 250) !important;
    /*height: 150px;*/
}

.carousel-container img {
    height: 512px;
}

.social-btn {
    font-size: 50px;
    height: 50px;
}

.material-icons.md-72 {
font-size: 72px !important;
height: 72px !important;
width: 72px !important;
}