{% extends "graduates/base.html" %}
{% load static %}
{% block content %}
    <div class="top-spacer">
        <a href="/" class="home-button"
                   class="md-icon-button home-button md-72">
            <md-icon class="md-72 material-icons"
                     md-svg-icon="{% static 'graduates/outline-home-24px.svg' %}">
            </md-icon>
        </a>
    </div>
    <div class="graduate-header" layout="column" layout-align="center center">
        {% if graduate.profile_image %}
            <img class="profile-picture" src="{{ graduate.profile_image.url }}">
        {% endif %}
        <div class="name">
            {{ graduate.name_he }}
        </div>
        <div class="title">
            {{ graduate.project_title_he }}
        </div>
        <div class="links" layout="row" layout-align="space-around center">
            <div class="bezalel-catalog-container" layout="row" layout-align="end center">
                <a href="{{ graduate.bezalel_catalog }}" target="blank_">
                קטלוג בצלאל
                </a>
            </div>
            {% if instagram %}
                <a href="{{ instagram }}">
                    <md-icon class="md-72 material-icons"
                             md-svg-icon="{% static 'graduates/instagram.svg' %}"></md-icon>
                </a>
            {% endif %}
            {% if website %}
                <a href="{{ website }}" target="_blank">
                    <md-icon class="md-72 material-icons"
                             md-svg-icon="{% static 'graduates/website.svg' %}"></md-icon>
                </a>
            {% endif %}
            {% if graduate.email %}
                <a href="mailto:{{ graduate.email }}">
                    <md-icon class="md-72 material-icons"
                             md-svg-icon="{% static 'graduates/email.svg' %}"></md-icon>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="carousel-container">
        <swiper>
            <slides>
                {% for image in graduate.processimage_set.all %}
                    <slide>
                        <img src="{{ image.image.url }}">
                    </slide>
                {% endfor %}
            </slides>
            <pagination></pagination>
        </swiper>
    </div>
{% endblock %}