{% extends "graduates/base.html" %}
{% load static %}
{% block content %}
    <div class="top-spacer"></div>
    <div class="graduate-header" layout="column" layout-align="center center">
        <img class="profile-picture" src="{{ graduate.profile_image.url }}">
        <div class="name">
            {{ graduate.name_he }}
        </div>
        <div class="title">
            {{ graduate.project_title_he }}
        </div>
        <div class="links" layout="row" layout-align="space-around center">
            <div class="bezalel-catalog-container" layout="row" layout-align="end center">
                <a href="{{ graduate.bezalel_catalog }}" target="blank_">
                קטלוג בצלאל
                </a>
            </div>
            {% if graduate.instagram %}
                <a href="{{ graduate.instagram }}">
                    <md-icon class="md-72 material-icons"
                             md-svg-icon="{% static 'graduates/instagram.svg' %}"></md-icon>
                </a>
            {% endif %}
            {% if graduate.personal_website %}
                <a href="{{ graduate.personal_website }}" target="_blank">
                    <md-icon class="md-72 material-icons"
                             md-svg-icon="{% static 'graduates/website.svg' %}"></md-icon>
                </a>
            {% endif %}
            {% if graduate.email %}
                <a href="mailto:{{ graduate.email }}">
                    <md-icon class="md-72 material-icons"
                             md-svg-icon="{% static 'graduates/email.svg' %}"></md-icon>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="carousel-container">
        <swiper>
            <slides>
                {% for image in graduate.processimage_set.all %}
                    <slide>
                        <img src="{{ image.image.url }}">
                    </slide>
                {% endfor %}
            </slides>
            <pagination></pagination>
        </swiper>
    </div>
{% endblock %}